<header>
    <h1><a calss='main-title' href="http://localhost/PWA%20projekt/index.php">Newsweek</a></h1>
    <nav>
        <a href="http://localhost/PWA%20projekt/index.php">Home</a>
        <a href="http://localhost/PWA%20projekt/views/kategorija.php?id=sport">Sport</a>
        <a href="http://localhost/PWA%20projekt/views/kategorija.php?id=tech">Tech</a>
        <a href="http://localhost/PWA%20projekt/views/write.html">Write</a>
        <a href="http://localhost/PWA%20projekt/views/administration">Administration</a>
    </nav>
</header>